<template>
  <template v-if="headState">
    <template v-if="previousHeader != undefined && typeof header == 'number'">
      <el-row class="headData">
        <h3>
          {{ sRemover(getTitleCase(previousHeader)) + " " + (header + 1).toString() }}
        </h3>
      </el-row>
    </template>
    <template v-else>
      <el-row class="headData" v-if="previousHeader != header">
        <h2>{{ $t('brokerage.specs.specTabs.'+header.toString())=='brokerage.specs.specTabs.'+header.toString()?getTitleCase(header):$t('brokerage.specs.specTabs.'+header.toString()) }}
        </h2>
      </el-row>
    </template>
  </template>
  <template v-if="typeof object == 'object'">
    <template v-for="(itemx, keyx) in object" :key="keyx">
      <template v-if="typeof itemx == 'object'">
        <template v-if="!Array.isArray(itemx)">
          <template v-if="Object.keys(itemx).length > 1">
            <FilterComponent
              :object="itemx"
              :header="keyx"
              :previousHeader="header"
              :headState="true"
              :paddingTop="paddingTop"
            />
          </template>
          <template v-else>
            <template v-if="typeof itemx[Object.keys(itemx)[0]] != 'object'">
              <el-row class="parData">
                <template v-if="typeof keyx != 'number'">
                  <el-col :span="6" align="left">
                    <label class="toBold">
                      {{ $t('brokerage.specs.specsProperties.'+keyx.toString())=='brokerage.specs.specsProperties.'+keyx.toString()?getTitleCase(keyx):$t('brokerage.specs.specsProperties.'+keyx.toString()) }}
                    </label>
                  </el-col>
                  <el-col :span="18" align="left">
                    {{ itemx[Object.keys(itemx)[0]] }}
                  </el-col>
                </template>
              </el-row>
            </template>
            <template v-else>
              <FilterComponent
                :object="itemx"
                :header="keyx"
                :previousHeader="header"
                :headState="false"
                :paddingTop="paddingTop"
              />
            </template>
          </template>
        </template>
        <template v-else>
          <FilterComponent
            :object="itemx"
            :header="keyx"
            :previousHeader="header"
            :headState="true"
            :paddingTop="paddingTop"
          />
        </template>
      </template>
      <template v-else>
        <el-row :class="paddingTop.includes(keyx)?'spaceData':'parData'">
          <el-col :span="6" align="left">
            <label class="toBold">
              {{ $t('brokerage.specs.specsProperties.'+keyx.toString())=='brokerage.specs.specsProperties.'+keyx.toString()?getTitleCase(keyx):$t('brokerage.specs.specsProperties.'+keyx.toString()) }}
            </label>
          </el-col>
          <el-col :span="18" align="left">
            {{ itemx }}
          </el-col>
        </el-row>
      </template>
    </template>
  </template>
</template>

<script>

import FilterComponent from "./FilterComponent.vue";
import { messages } from "../../../data";

export default {
  name: "FilterComponent",
  props: ["object", "header", "previousHeader", "headState","paddingTop"],
  components: {
    FilterComponent,
  },
  data(){
    return {
      en: messages.en
    }
  },
  computed: {
  },
  mounted(){
    // console.log(this.en)
    // console.log(this.en)
    // console.log(this.findPropFromObj(this.en,"search"))

  },
  setup(){

  },
  methods: {
    show(objectS) {
      if (Array.isArray(objectS)) {
        objectS.forEach((s, key) => {
          objectS[key] = this.sortObject(s);
        });
      }
      return objectS;
    },
    testing(object,value){
      // console.log(object,value)
      // let x = this.findPropFromObj(object,value)
      // console.log(x)
      return value
    },
    makeAString(value) {
      let number = 40 * value;
      number = number + "px";
      return number;
    },
    getTitleCase(input) {
      if (typeof input == "string") {
        let stringNew = input.toString();
        let result = stringNew.replace(/([A-Z]+)*([A-Z][a-z])/g, "$1 $2");
        return result.charAt(0).toUpperCase() + result.slice(1);
      } else {
        let newInput = input + 1;
        return newInput;
      }
    },
    sRemover(input){
      input = input.toString()
      if (input.endsWith("s")){
        return input.slice(0, -1);
      }
      else{
        return input
      }
    },
    findPropFromObj(object, key) {
      if (Object.prototype.hasOwnProperty.call(object, key)) {
        return object[key];
      }
      for (const k of Object.keys(object)) {
        if (typeof object[k] === "object") {
          const o = this.findPropFromObj(object[k], key);
          if (o !== null && typeof o !== "undefined" && typeof o !== "object") {
            return o;
          }
        }
      }
      return null;
    },
  },
};
</script>

<style scoped>
.parData {
  margin-bottom: 0.5rem;
}
h2 {
  font-size: 20px;
  font-weight: 400;
}
.headData {
  margin-bottom: 0.1rem;
}

.spaceData{
  margin-bottom: 2rem;
}


.toBold {
  font-weight: 100;
}
</style>
